# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Flask
instance/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python packages
*.egg-info/

# Database files
*.db