*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f172a;
}

.login-container{

    width:100%;
    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#0f172a,#1e3a8a);

}

.login-card{

    width:420px;

    background:white;

    padding:40px;

    border-radius:15px;

    text-align:center;

    box-shadow:0px 10px 30px rgba(0,0,0,.3);

}

.login-card h1{

    color:#2563eb;

    margin-bottom:10px;

}

.login-card h2{

    color:#555;

    margin-bottom:30px;

    font-size:20px;

}

.login-card input{

    width:100%;

    padding:14px;

    margin-bottom:18px;

    border-radius:8px;

    border:1px solid #ccc;

    font-size:16px;

}

.login-card input:focus{

    outline:none;

    border-color:#2563eb;

}

.login-card button{

    width:100%;

    padding:15px;

    background:#2563eb;

    color:white;

    border:none;

    border-radius:8px;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

.login-card button:hover{

    background:#1d4ed8;

}

.login-card p{

    margin-top:20px;

    color:gray;

}